@media screen and (max-width: 1200px) {
  .cover img {
    display: none;
  }

  .sam-berns {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .navbar {
    display: none;
  }
}